/* основной цвет текста  #212121;*/
/* вторичный цвет текста #757575 */
/* акцент #2196F3; */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA  */

:root{
    --primacy-text-color:#212121;
    --title-text-color:#212121;
    --third-background-color:#2F303A;
    --accent-color:#2196F3;
    --item-text-color:#757575;
    --background-color:#ffffff;
    --secondary-background-color:#f5f4fa;
    --hero-title-color:#ffffff;
}




.page{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}



/* -----------Header--------- */

.header{
    background-color: var(--background-color)
}
.logo-link{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo-dark{
    color: #000000;
    
}
.logo-light{
    color:  #FFFFFF;
    
}

/* ----site nav------ */
.link-nav.current{
    color: var(--accent-color);
}

.link-nav {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primacy-text-color);

}
.link-nav:focus,
.link-nav:hover{
    color: var(--accent-color)

}

    



.mail,
.contact {
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--item-text-color);
}
.mail:focus,
.mail:hover{
    color: var(--accent-color)
}

.contact:focus,
.contact:hover{
    color: var(--accent-color)
}


/* ------hero------- */
.hero{
    background-color:var(--third-background-color);
}

.hero-title{
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    
}
.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
    
}



/* All section */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}
/* ----------features--------- */

.features-list .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color)
}
.features-list .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}
/*----------- Work--------- */




/* -----------team--------- */
.section-team{
    background-color: var(--secondary-background-color);
}

.team-list .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-list .text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}
/*------------ footer----------- */
.footer-content{
    background-color:var(--third-background-color)

}
.footer-address{
    font-style: normal;
}

.footer-address-link {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-title-color);
}
.footer-link{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
.footer-link:focus,
.footer-link:hover{
    color: var(--accent-color);
}


/* --------Portfolio-------- */
.section-portfolio{
    background-color: var(--background-color)
}


.button-current{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;

}
.button-current:hover,
.button-current:focus{
    color: var(--hero-title-color);
    background-color: var(--accent-color);
}





.portfolio-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}


.portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--item-text-color);

}

